              <!doctype html>
              <html lang="en">
                <head>
                  {%include "bootstrap.html"%}
                  <title>Ali A Area</title>
                </head>
                <body>
                  <div class='container'>
                  <h1 class='text-center mt-2 mb-4'> Ali A Area</h1>
                    {%include "banner.html"%}
                  <h1 class="text-center mt-2 mb-4">about me</h1>
                  <p class="lead">
                    
                    Greetings,

                    I am Ali Al-Anazi, an 18-year-old artificial intelligence (AI) student with a fervent ambition to excel as a programmer in support of the Kingdom's vision for 2030. My dedication to leveraging technology for digital transformation underscores my commitment to advancing our society towards prosperity through innovation and technological prowess.



              </p>
<h2 class = "text-center mt-2 mb-4">MY project</h2>  
<div>
  {% for project in projects %}
    {% include 'projectslist.html' %}
  {% endfor %}
</div>
<div class = "text-center">
  <button class="btn btn-primary btn-lg"
     onclick = 'window.location.href = "/massage";''>Contact US</button>
<p class = "mt-4">Copyright 2023,Ali A </p>
</div>
  </div>
</body>
</html>
              
              